<a href="https://colab.research.google.com/github/tohnperfect/DPDM2024/blob/main/Python101_(dpdm24).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ใช้  header เพื่อจัดการ เอกสารและการ index

# header1

## header2

# Python101

## Python example (ตัวอย่าง Python)

In [ ]:
for i in ['a','b','c'] :
  print(i,end=' ')
  print('/')
  for j in range(10):
    ccc=10

a /
b /
c /

In [ ]:
for i in ['a','b','c']:
    print(i,end=' ')
    print('/')
    for j in range (10):
        ccc=10
        print(ccc)

a /
10
10
10
10
10
10
10
10
10
10
b /
10
10
10
10
10
10
10
10
10
10
c /
10
10
10
10
10
10
10
10
10
10

# Intro to string and print statement

การจัดการข้อมูลประเภท String


วิธีการ define ตัวแปร

```
variable_a = ข้อมูลที่เราต้องการ
```

## String(text) ข้อมูลประเภท String

In [ ]:
text1 = "Stat"

In [ ]:
text2 = 'ม.ขอนแก่น'

In [ ]:
text3 = '123456'

In [ ]:
print(text1)

Stat

เราสามารถนำ String + String ได้

In [ ]:
print(text1+text2)

Statม.ขอนแก่น

In [ ]:
int1 = 5

แต่ไม่สามารถ + ตัวเลขได้

In [ ]:
print(text1 + int1)

TypeError: can only concatenate str (not "int") to str

In [ ]:
print(int1 + text1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
print(int1 + text3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## การใช้ generative ai ช่วยในการเขียน code

In [ ]:
# prompt: สุ่มตัวเลข 10 ตัว ใส่ตัวแปร x

import random
x = [random.randint(0, 9) for _ in range(10)]

In [ ]:
print(x)

[7, 0, 6, 5, 4, 1, 4, 1, 2, 0]

## เราสามารถจัดการ text แบบพิเศษ (ใช้ตัวแปร หรือ run code ใน text) ได้โดยการใช้

```
f'ข้อความ1 {ส่วนของ code1} ข้อความ2 {ส่วนของ code2}'
```

In [ ]:
print(f'six plus five = {6+5}')

six plus five = 11

In [ ]:
print(f'six plus five = {6+5:.2f}') # .2f หมายถึงทำเป็นทศนิยม 2 ตำแหน่ง

six plus five = 11.00

In [ ]:
print(f'six plus five = {6+5:.2f}%') # % หมายถึงเป็น %

six plus five = 11.00%

In [ ]:
print(f'six plus five = {6+5.7:.0f}%') # .0 หมายถึง ไม่เอาทศนิยม

six plus five = 12%

In [ ]:
print(f'six plus five = {6+5:03d}') #แสดงผลลัพธ์ 3 หลัก

six plus five = 011

In [ ]:
st1 = f'six plus five = {6+5:03d}' #เก็บข้อมูลใน st1

In [ ]:
st1 #แสดงผลออกมา

'six plus five = 011'

In [ ]:
f"six plus five = {'six' + 'five'}" # การใช้งาน quote และ double quote

'six plus five = sixfive'

##Advanced printing

(การแสดงผลแบบ Advance)

## Print


```
print(object(s), sep=separator, end=end, file=file, flush=flush)
```

### object(s)

(s) สามารถ input object ได้มากกว่า 1 ตัว

In [ ]:
print(text1,text2,text3)

Stat ม.ขอนแก่น 123456

### separator (sep) คือการแบ่งข้อมูลด้วยคำสั่ง ทั้งช่องว่างและ /


```
Default is ' '
```
for example

In [ ]:
print(text1,text2,text3) #ถ้าไม่กำหนด sep จะใช้ ' ' แบ่ง

Stat ม.ขอนแก่น 123456

In [ ]:
print(text1,text2,text3, sep ='+') #กำหนด sep เป็น +

Stat+ม.ขอนแก่น+123456

### end (end) ไว้สำหรับการขึ้นบรรทัดใหม่หรือการเพิ่มตัวอักษร



```
Default is '\n'
```
for example

In [ ]:
print('stat')
print('KKU')

stat
KKU

In [ ]:
print('stat',end='+-+')
print('KKU')

stat+-+KKU

# Variable (ตัวแปร)

ใช้สำหรับการเก็บข้อมูลไว้ในตัวแปรนั้นๆไว้

### ข้อกำหนดในการตั้งชื่อตัวแปร
1. ตั้งให้สื่อความหมาย
2. ตั้งให้เป็นภาษาอังกฤษ
3. ใช้ตัวเลขผสมกับตัวหนังสือได้ แต่ห้ามขึ้นต้นด้วยตัวเลข
4. ห้ามมีเว้นวรรคในชื่อตัวแปร
5. ตัวใหญ่ ตัวเล็กค่าไม่เท่ากัน


## variable naming rules
1. Try to use meaningful word
2. Do it in English
3. You can use number in variable name the name connot atart with number
4. there should be no space in the name
5. variable name is case-sensitive (Abc is not equal to ABC)

In [ ]:
a = 5 #int
print(a)

5

In [ ]:
b = 5.7 #float
print(b)

5.7

In [ ]:
c = a-b
print(c)

-0.7000000000000002

## 19 June 2024

## char (character : ตัวอักษร)

####  ```String + String``` mean plus char and another char ตัวอักษร + ตัวอักษรได้

In [1]:
a = 'C'

In [2]:
b = 'hatacter'

In [3]:
print(f'a={a} b={b}, then {a}+{b} = {a+b}') #string + string = เอามารวมกัน

a=C b=hatacter, then C+hatacter = Chatacter

In [40]:
A ='ccccc'
B = 'a'

In [5]:
print(A+B)

ca

In [7]:
A = '1'
B = 2

In [8]:
print(A,B)

1 2

In [9]:
A

'1'

In [10]:
B

2

In [11]:
A+B

TypeError: can only concatenate str (not "int") to str

####```integer * char```mean multiple copies of the char หรือสามารถคูณตัวอักษรเพื่อแสดงผลเท่าผลคูณได้

In [ ]:
print(5*'T')

TTTTT

In [12]:
print(100*'Ha')

HaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHa

# List() โครงสร้างข้อมูล

In [14]:
list_a = [1,2,3]

In [13]:
list_b = list()

In [15]:
list_b

[]

In [16]:
list_b.append(1) #append คือการเพิ่มข้อมูลใน list
list_b
list_b.append(2)
list_b

[1, 2]

In [17]:
list_b.append('f')
list_b.append([12,6,'a'])
list_b

[1, 2, 'f', [12, 6, 'a']]

In [18]:
list_b[3] #index

[12, 6, 'a']

# For วนซ้ำ

```
for สมาชิกแต่ละตัว in list:
    ทำอะไรซักอย่าง
```

In [20]:
for i in [1,2,3,5,7] :
  print(2*i,end=' ')

2 4 6 10 14

***
**Quiz 2**

print Ka 5 ครั้ง ต่อด้วย Ga อีก 10 ครั้ง แบบใช้ loop และ ขั้น Ka แต่ละตัวด้วย + ขั้น Ga แต่ละตัวด้วย x ขั้นระหว่าง Ka กับ Ga ด้วย % (อยู่ในบรรทัดเดียวกันทั้งหมด)

In [21]:
for i in range(5):
  print('Ka',end='')
  if i!=4:
    print('+',end='')
print('%',end='')
for i in range(10):
  print('Ga',end='')
  if i!=9:
    print('x',end='')

Ka+Ka+Ka+Ka+Ka%GaxGaxGaxGaxGaxGaxGaxGaxGaxGa

### Int(eger) (จำนวนเต็ม)

สำหรับการแสดงข้อมูลจำนวนเต็มเท่านั้น

In [44]:
int_a = 7
int_b = 2

In [45]:
print(type(int_a),type(int_b))

<class 'int'> <class 'int'>

In [ ]:
int_c = int_a + int_b #assign the value as the output of operation
print(int_c)

9

In [22]:
6**3

216

In [23]:
2**0.5

1.4142135623730951

### Float (จำนวนจริง ทศนิยม)

สำหรับการแสดงข้อมูลที่เป็นทศนิยมได้

In [24]:
fl_a = 7. #ใส่ . สามารถทำให้เป็นค่าทศนิยมได้
fl_b = 2.571

In [25]:
print(type(fl_a),type(fl_b))

<class 'float'> <class 'float'>

In [26]:
fl_a

7.0

In [27]:
fl_b

2.571

###Boolean (ตัวแปรที่มีค่า true หรือ False) ตรรกศาสตร์มีแค่ 2 ค่าเท่านั้นคือ True และ False

In [28]:
b_T = True

In [29]:
b_F = False

all of equation (สัญลักษณ์สำหรับตรรกศาสตร์)

```
#numeric operands
== is equal

!= is not equal

> is geater than

<= is less than or equal

#logic operands
| is or

& is and

#other operands
in ตรวจสอบสมาชิกใน list
is ตรวจสอบชนิดตัวแปร
```

In [30]:
b_T | b_F

True

In [31]:
b_T & b_F

False

In [34]:
name = 'Khon Kaen University'
print('T' in name)
print('t' in name)

False
True

### Complex number (จำนวนเชิงซ้อน)

In [35]:
x = 1+ 2j

In [37]:
x

(1+2j)

we can check the datatype with type()

In [36]:
print (f'variable x value is {x} and datatype is {type(x)}')

variable x value is (1+2j) and datatype is <class 'complex'>

In [41]:
print (f'ตัวแปร A ค่าคือ {A} ชนิด {type(A)}')

ตัวแปร A ค่าคือ ccccc ชนิด <class 'str'>

In [42]:
print (f'ตัวแปร a ค่าคือ {a} ชนิด {type(a)}')

ตัวแปร a ค่าคือ C ชนิด <class 'str'>

##การแปลงชนิดของตัวแปร (Variable Casting)

In [46]:
print(f'int a = {int_a} int_b = {int_b} Fl_a {fl_a} Fl_b={fl_b}')

int a = 7 int_b = 2 Fl_a 7.0 Fl_b=2.571

In [47]:
str_a = '6'
str_b = '-2'

In [48]:
str_a2int = int(str_a) # Transform string into int แปลงค่าจาก String เป็น int
print(f'ตัวแปร str_a2int ค่าคือ {str_a2int} ชนิด {type(str_a2int)}')

ตัวแปร str_a2int ค่าคือ 6 ชนิด <class 'int'>

In [49]:
str_a2int + int_a

13

In [50]:
str_a + int_a #ไม่สามารถนำ string + int ได้

TypeError: can only concatenate str (not "int") to str

In [51]:
str(fl_b) #transform float to string แปลงค่าจาก Float เป็น string ได้

'2.571'

In [52]:
int(fl_b) #transform float to int (but it will cut te floating point) แปลงค่าจาก float เป็น int ได้แต่จะตัดจุดทศนิยมออกไป

2

# More about string

## Replace() แทนที่ character ใน String

การแปลงค่าด้วยข้อมูล String

In [53]:
st_test1 = 'Department of Statistics,'

In [54]:
st_test1.replace('e',' ') #replace e with space แทน e ด้วยช่องว่าง

'D partm nt of Statistics,'

In [55]:
st_test1

'Department of Statistics,'

In [56]:
st_test2 = st_test1.replace('e',' ')

In [57]:
st_test2

'D partm nt of Statistics,'

In [58]:
st_test1.replace('ti','TI') # Modify ti to TI เปลี่ยน ti เป็น TI

'Department of StaTIsTIcs,'

## split() แยก string

การแยกข้อมูลไว้สำหรับตัดข้อมูลออกซึ่งจะเก็บในรูปแบบ list

In [59]:
'a b c d e f g'.split() #ตัด string ที่ช่องว่าง

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [60]:
'abc de fg'.split() # แยกด้วย ช่องว่าง

['abc', 'de', 'fg']

In [ ]:
'a,b/c,d e/f g'.split('/') # แยกด้วย /

['a,b', 'c,d e', 'f g']

# Quiz 3

แยก ```'a,b/c,d e/f g'``` ออกมาเป็น list -> ```['a','b','c','d','e','f','g']```

In [64]:
# Replace delimiters with a common character
text = 'a,b/c,d e/f g'
text_modified = text.replace('/', ' ').replace(',', ' ')

# Split the string
result = text_modified.split()
print(result)  # Output: ['a', 'b', 'c', 'd', 'e', 'f', 'g']

['a', 'b', 'c', 'd', 'e', 'f', 'g']